
@model IEnumerable<LOLHUB.Models.TournamentViewModels.Drabinka>
@{
    var counter = Model.Count();
}

@for (int i = 0; i < counter; i++)
{

    var drabinka = @Model.ElementAt(i);
    string colapse = "colapse" + i;
    string colapsehash = "#colapse" + i;
    string heading = "heading" + i;
    <!--
       <div class="panel panel-default">
           <div class="panel-heading">
               <h4 class="panel-title">
                   <a data-toggle="collapse" data-parent="#accordion" href="#@colapse">
                       @drabinka.UpdateTime [ @drabinka.Team1_Name Vs @drabinka.Team2_Name ] Winner is @if (drabinka.Team1_Win == true)
                       {<b>@drabinka.Team1_Name</b> }
                   else
                   { <b> @drabinka.Team2_Name </b>}
                   </a>
               </h4>
           </div>

           <div id="@colapse" class="panel-collapse collapse">
               <div class="panel-body">
                   Tutaj będzie wywołany kolejny komponent wyswietlajacy statystyki z meczu <br />

               </div>
           </div>
       </div>

       <div class="card">
           <div class="card-header" id="@heading">
               <h5 class="mb-0">
                   <button class="btn btn-link" data-toggle="collapse" data-target="@colapsehash" aria-expanded="false" aria-controls="@colapse">
                       @drabinka.UpdateTime [ @drabinka.Team1_Name Vs @drabinka.Team2_Name ] Winner is @if (drabinka.Team1_Win == true)
                       {<b>@drabinka.Team1_Name</b> }
                   else
                   { <b> @drabinka.Team2_Name </b>}
                   </button>
               </h5>
           </div>

               <div id="@colapse" class="collapse" aria-labelledby="@heading" data-parent="#accordion">
                   <div class="card-body">
                       Tutaj będzie wywołany kolejny komponent wyswietlajacy statystyki z meczu <br />
                   </div>
               </div>
           </div>
    -->
    string status = "";
    string status2 = "";
    if (drabinka.Team1_Win == true)
    {  status = "success"; status2 = "danger"; }
    else {  status = "danger"; status2 = "success"; }









<div class="card text-center">
    <div class="row">
        <div class="card w-50">
            <div class="card border-@status">
                <div class="card-body text-@status">
                    <h4 class="card-title"><b>@drabinka.Team1_Name</b></h4>
                </div>
            </div>
        </div>
        <div class="card w-50">
            <div class="card border-@status2">
                <div class="card-body text-@status2">
                    <h4 class="card-title"><b>@drabinka.Team2_Name</b></h4>
                </div>
            </div>
        </div>

        <div class="card w-100" style=" text-align:center;" > <text> <text style="font-weight:900">  
            @{ 
                string Name = null;
                foreach(var item in ViewBag.TournamentNameList)
                {
                    if(item.Id == drabinka.Tournament_Id)
                    {
                        Name = item.Name;
                    }
                }

            }
            . . : : |  Data: </text> @drabinka.UpdateTime  <text style="font-weight:900">  
                    |  Turniej Id:</text> @drabinka.Tournament_Id <text style="font-weight:900">  
                    |  Nazwa: </text>@Name  <text style="font-weight:900">  
                    |  Etap: </text> @drabinka.Tournament_Level <text style="font-weight:900">  
                    | : : . .  </text></text> </div>
    </div></div>
    <br />




}
