@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>
<h4>Associate your @ViewData["LoginProvider"] account.</h4>
<hr />

<p class="text-info">
    You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
    Please confirm an email address for this site below and click the Register button to finish
    logging in.
</p>


<div>
    <h4 style="font-weight:900">Email: @Model.Email</h4>
    <h4 class="text-info">Imię: @Model.First_name<br />Nazwisko: @Model.Last_name</h4>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" hidden value="@Model.Email" />
                <input asp-for="Last_name" class="form-control" hidden value="@Model.Last_name" />
                <input asp-for="First_name" class="form-control" hidden value="@Model.First_name" />
            </div>
            <button type="submit" class="btn btn-default">Confirm</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
