@model IList<LOLHUB.Models.Team>
@{
    ViewData["Title"] = "Index";
}

<ul class="nav nav-tabs">
    <li class="nav-item active">
        <a href="#Szczegoly" data-toggle="tab">Szczególy</a>
    </li>
    <li class="nav-item">
        <a href="#Druzyny" data-toggle="tab">Druzyny</a>
    </li>
    <li class="nav-item">
        <a href="#Cwiercfnialy" data-toggle="tab">Cwiercfnialy</a>
    </li>
    <li class="nav-item">
        <a href="#Polfinaly" data-toggle="tab">Polfinaly</a>
    </li>
    <li class="nav-item">
        <a href="#Finaly" data-toggle="tab">Finaly</a>
    </li>
    <li class="nav-item">
        <a href="#Podsumowanie" data-toggle="tab">Podsumowanie</a>
    </li>
    <li class="nav-item">
        <a href="#Administracja" data-toggle="tab">Administracja</a>
    </li>
</ul>

<div class="tab-content">

    <div id="Szczegoly" class="tab-pane active">
        <h3>Szczegóły turnieju  @ViewBag.TournamentId # </h3>

        <p>
            Turniej rozpoczyna się @foreach (var item in Model)
            {
                <text> @item.Tournament.StartDate.ToString();</text>

                DateTime czasRozpoczecia = @item.Tournament.StartDate;
                DateTime czasAktualny = DateTime.Now;
                var pozostalyCzas = czasRozpoczecia - czasAktualny;
                <br />
                <text> Do rozpoczęcia pozostało @Math.Round(pozostalyCzas.TotalHours) godzin </text>
                break;
            }
        </p>

    </div>

    <div id="Druzyny" class="tab-pane">
        <h3>Lista uczestniczących drużyn: </h3>
        <table class="table table-hover table-striped">
            <tr>
                <th>Team ID</th>
                <th>Team Name</th>
                <th>Team Leader</th>
                <th>Members Count</th>
                <th>W.I.P.</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.TeamLeader.ConectedSummoners.name</td>
                    <td>@item.Players.Count()</td>
                    <td>  <a asp-controller="Team" asp-action="DetailNew" asp-route-id="@item.Id">[Team Members/Team Details]</a></td>
                </tr>

            }
        </table>
    </div>

    <div id="Cwiercfnialy" class="tab-pane">
        <h3>Cwierćfinały</h3>
        @{
            if (Model.Where(t => t.Tournament.Teams.Count() != 0).Any())
            {
                @await Component.InvokeAsync("Drabinka", new { id = @ViewBag.TournamentId, level = 1 })
            }
        }
    </div>

    <div id="Polfinaly" class="tab-pane">

        <h3>Półfinaly</h3>
        @{
            if (Model.Where(t => t.Tournament.Teams.Count() != 0).Any())
            {
                @await Component.InvokeAsync("Drabinka", new { id = @ViewBag.TournamentId, level = 2 })
            }
        }
    </div>

    <div id="Finaly" class="tab-pane">
        <h3>Finały</h3>
        @{
            if (Model.Where(t => t.Tournament.Teams.Count() != 0).Any())
            {
                @await Component.InvokeAsync("Drabinka", new { id = @ViewBag.TournamentId, level = 3 })
            }
        }
    </div>

    <div id="Podsumowanie" class="tab-pane">
        <h3>Podsumowanie</h3>
        @await Component.InvokeAsync("AktualnyRankingTurnieju", new { id = @ViewBag.TournamentId })
    </div>

    <div id="Administracja" class="tab-pane">
        <h3>Administracja</h3>
        <div>
            <ul>
                <li>
                    <form asp-controller="Tournament" asp-action="ZmienStanTurnieju"
                          asp-route-id="@ViewBag.TournamentId"
                          asp-route-status="start"
                          method="post">
                        <button type="submit" class="btn btn-warning"><b>[Rozpocznij Turniej]</b></button>
                    </form>
                </li>
                <li>
                    <form asp-controller="Tournament" asp-action="ZmienStanTurnieju"
                          asp-route-id="@ViewBag.TournamentId"
                          asp-route-status="stop"
                          method="post">
                        <button type="submit" class="btn btn-danger"><b>[Zakończ Turniej]</b></button>
                    </form>
                </li>
            </ul>
            <ul>
                <li>
                    <form asp-controller="Tournament" asp-action="GenerujDrabinke"
                          asp-route-id="@ViewBag.TournamentId"
                          asp-route-level="1"
                          method="post">
                        <button type="submit" class="btn btn-primary"><b>[ Wygeneruj 1 grupe turniejową / Podgląd json ]</b></button>
                    </form>
                    <ul>
                        <li>
                            <form asp-controller="Tournament" asp-action="GenerujDrabinke"
                                  asp-route-id="@ViewBag.TournamentId"
                                  asp-route-level="2"
                                  method="post">
                                <button type="submit" class="btn btn-primary"><b>[ Wygeneruj 2 grupe turniejową / Podgląd json ]</b></button>
                            </form>
                            <ul>
                                <li>
                                    <form asp-controller="Tournament" asp-action="GenerujDrabinke"
                                          asp-route-id="@ViewBag.TournamentId"
                                          asp-route-level="3"
                                          method="post">
                                        <button type="submit" class="btn btn-primary"><b>[ Wygeneruj 3 grupe turniejową / Podgląd json ]</b></button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>

