@model IList<LOLHUB.Models.Tournament>
@{
    ViewData["Title"] = "Index";
}

<h1>Tournaments</h1>
<h3>List of every tournaments</h3>
<table class="table table-hover table-striped">
    <tr>
        <th>Tournament ID</th>
        <th>Nazwa Turnieju</th>
        <th>Liczba zajętych miejsc</th>
        <th>Status</th>
        <th>Detale</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TournamentId</td>
            <td>@item.Name</td>
            <td>@item.Players.Count()/16</td>
            <td>
                @{ if (item.IsExpired == false)
                    { <text>Aktywny</text> }
                    else
                    {<text>Zakończony</text>} 
                 }
            </td>

            <td>
               <form asp-controller="Tournament" asp-action="Detail" method="get">
                    <input type="hidden" id="id" name="id" value="@item.TournamentId" />
                    <button type="submit" class="btn btn-danger">About tournament, list of participatiens</button>
                </form>
            </td>
            <td>
                <form asp-controller="Tournament" asp-action="JoinToTournament" method="post">
                    <input type="hidden" id="id" name="id" value="@item.TournamentId" />
                    <button type="submit" class="btn btn-default">Join in Tournamnet</button>
                </form>
            </td>
        </tr>
    }
</table>