@model IEnumerable<LOLHUB.Models.INBOX.MessageStorage>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<h2>Skrzynka Odbiorcza</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Temat
            </th>
            <th>
                Data
            </th>
            <th>
                Nadawca
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @{ foreach (var item in Model)
            {

                string readId = item.Id + "read";
                string readIdStatus = readId + "Status";
                string status = "";

                @if (@ViewBag.MessageReadStatus[item.Id] == false) { status = "primary"; } else { status = "default"; }
                {
                    <tr class="table-@status" data-toggle="modal" data-target="#@item.Id" id="@readId">
                        <td id="@readIdStatus">
                            @if (@ViewBag.MessageReadStatus[item.Id] == false)
                            {
                                <b>⚫</b>
                            }
                            else
                            {
                                <b>⚪</b>
                            }
                        </td>
                        <td>
                            <b> @Html.DisplayFor(modelItem => item.Temat)</b>
                        </td>
                        <td>
                            @item.DataWyslania.ToUniversalTime()
                        </td>
                        <td>
                            @{ string nickname = "";
                                var replyToSummonerName = item.Player.ConectedSummoners;
                                if (replyToSummonerName == null)
                                {
                                    nickname = "";
                                     @Html.DisplayFor(modelItem => item.Player.ConnectedSummonerEmail);
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Player.ConectedSummoners.name);
                                }
                            }
                        </td>
                        <td>
                            <a asp-controller="Inbox" asp-action="sendMessage" asp-route-replyTo="@item.Player.ConnectedSummonerEmail" asp-route-name="@nickname">Odpowiedz</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Usun W.I.P</a>

                        </td>

                        <script>
                    var tagname='#@readId';
                    $(tagname).click(function() {
                        $.ajax({
                            type: "GET",
                            url: "/Inbox/MessageRead?messageId=@item.Id",
                         data: '{}',
                            dataType: "text",
                            success: function (data)
                            {
                                $("#@readId").removeClass('table-primary');
                                $("#@readId").addClass('table-default');
                                $("#@readIdStatus").html('<b>⚪</b>');
                            }
                        });
                    });
                        </script>
                        <div class="modal" id="@item.Id">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">@Html.DisplayFor(modelItem => item.Temat)</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        @Html.DisplayFor(modelItem => item.TrescWiadomosci)
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>

                }
            }
        }
    </tbody>
</table>