<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LOLHUB</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">*@
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top text-center" style="padding-top:0px; padding-bottom:0px;">
        <div class="container">
            <div class="navbar-header">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" style="font-size:xx-large;">LOLHaven</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav" style="font-size:medium;">
                    @if (User.IsInRole("Member"))
                    {
                        <li class="nav-item" style="padding-top:10px"><a class="nav-link" asp-area="" asp-controller="RiotApi" asp-action="Index">Profile</a></li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" style="padding-top:25px;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Administracja
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Index">Dashboard</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="UserList">User List</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="RiotApi" asp-action="listOfSummonerInfos">Summoner List</a>
                                </div>
                            </li>
                        }
                    }
                    <!--    Tylko admin: Zakładka [Aministracja]    -->
                    <li class="nav-item"><a class="nav-link" style="padding-top:25px;" asp-area="" asp-controller="Tournament" asp-action="Index">Tournaments</a></li>
                    <li class="nav-item"><a class="nav-link" style="padding-top:25px;" asp-area="" asp-controller="Team" asp-action="Index">Teams</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @await Component.InvokeAsync("TeamPartial")
                        <li class="nav-item"><a class="nav-link"style="padding-top:25px;" asp-area="" asp-controller="Inbox" asp-action="Index">INBOX <span class="badge badge-primary" id="messageCount"></span></a></li>
                    }
                </ul>
                <ul class="navbar-nav navbar-right" style="font-size:medium;">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link" style="padding-top:15px;" asp-area="" asp-controller="Team" asp-action="Index"> <span class="fa fa-bell fa-2x"></span>  </a></li>
                    }


                        @await Html.PartialAsync("_LoginPartial")
                    </ul>
</div>
        </div>
    </nav>
    <div class="container body-content">

        @if (TempData["result"] != null)
        {
            <div class="alert alert-success mt-1">@TempData["result"]</div>
        }
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success mt-1 text-center">@TempData["message"]</div>
        }
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger mt-1 text-center">@TempData["error"]</div>
        }
        @if (TempData["SummonnerIsAlreadyAssigned"] != null)
        {
            <div class="alert alert-danger mt-1 text-center">@TempData["SummonnerIsAlreadyAssigned"]</div>
        }
        @if (TempData["SummonerDontExists"] != null)
        {
            <div class="alert alert-success mt-1 text-center">@TempData["SummonerDontExists"]</div>
        }
        @if (TempData["joiningResult"] != null)
        {
            <div class="alert alert-info mt-1 text-center">@TempData["joiningResult"]</div>
        }
        @if (TempData["AlreadyTeamLeader"] != null)
        {
            <div class="alert alert-danger mt-1 text-center">@TempData["AlreadyTeamLeader"]</div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - LOLHaven</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>



    <!-- reloading the value every 2 seconds -->
        <script>
        $.get('/Inbox/MessageTotalCount', function (data) {
            $('#messageCount').html(data);
            });

            $.get('/api/Admin/RegisteredUsersCount', function (data) {
                $('#userCount').html(data);
            });

            $.get('/api/Admin/TournamentsCount', function (data) {
                $('#TournamnetsCount').html(data);
            });

            $.get('/api/Admin/MatchesPlayedCount', function (data) {
                $('#MatchesPlayed').html(data);
            });
            $.get('/api/Admin/TotalPointsDistibuted', function (data) {
                $('#TotalPoints').html(data);
            });
    </script>
    <script>
        setInterval(function () {
            $('#messageCount').load('/Inbox/MessageTotalCount');
            //$('#userCount').load('/api/Admin/RegisteredUsersCount');
            //$('#TournamnetsCount').load('/api/Admin/TournamentsCount');
            //$('#MatchesPlayed').load('/api/Admin/MatchesPlayedCount');
            //$('#TotalPoints').load('/api/Admin/TotalPointsDistibuted');

        }, 5000);
    </script>


    @RenderSection("scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
</body>
</html>
