@model LOLHUB.Models.TeamViewModels.TeamsWithMembers

@{
    ViewData["Title"] = "Index";
}
<br />
@if (User.Identity.IsAuthenticated)
{
    <div>
        <a class="btn btn-primary" asp-controller="Team" asp-action="CreateTeam">Create a Team</a>
    </div>
}
<container>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Members
                </th>
                <th>
                    Points
                </th>
                <th>
                    % Win
                </th>
                <th>
                    Profile
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Team.OrderByDescending(t => t.Points))
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        <ul>
                            @{
                                var LeaderCount = 1;
                            }
                            @foreach (var item2 in item.Players)
                            {
                                var PlayerId = item2.Id;
                                foreach (var item3 in Model.Player)
                                {
                                    if (item3.Id == PlayerId && item.TeamLeader.Id == PlayerId && LeaderCount == 1)
                                    {
                                        <li style="color:blueviolet; font-weight:700;"> @item3.ConectedSummoners.name </li>
                                        LeaderCount++;
                                    }
                                }
                            }

                            @foreach (var item2 in item.Players)
                            {
                                var PlayerId = item2.Id;
                                foreach (var item3 in Model.Player)
                                {
                                    if (item3.Id == PlayerId && item.TeamLeader.Id != PlayerId && LeaderCount >= 1)
                                    {
                                        <li style="color:black; font-weight:500;"> @item3.ConectedSummoners.name</li>
                                    }
                                }
                            }

                        </ul>
                    </td>

                    <td>
                        @item.Points
                    </td>

                    <td>
                        @{
                            float procentWin = 0;
                            if (item.Tournaments_Win > 0)
                            {
                                procentWin = (Int64)(((item.Tournaments_Win * 100) / item.Participate_in_Tournaments));
                            }

                        }

                        @procentWin %
                    </td>
                    <td>
                        <form asp-controller="Team" asp-action="Manage" asp-route-teamId="@item.Id" method="get" class="text-left">
                            <button type="submit" class="btn btn-primary"><b>Profile</b></button>
                        </form>
                    </td>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-controller="Team" asp-action="JoinTeam" method="post" class="text-center">
                                <input type="hidden" id="teamId" name="teamId" value="@item.Id" />
                                <button type="submit" class="btn btn-info"><b>Join</b></button>
                            </form>
                        }
                    </td>
                </tr>

            }
        </tbody>
    </table>
</container>
<container class="text-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1">Previous</a> </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</container>
