@model LOLHUB.Models.Team

@{
    ViewData["Title"] = "Manage";
}
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<h2 class="text-center">@Model.Name</h2>
   <div class="container-fluid">
       <div class="row">
           <div class="col">
               <div class="card" style="height:215px">
                   <div class="card-body">
                       <h4 class="card-title"><b>@Model.TeamLeader.ConectedSummoners.name</b><span class="pull-right">#1</span></h6</h4>

                       <h6 class="card-subtitle mb-2 text-muted pull-left"><b>[ ADC ]</b></h6>
                       <h6 class="card-subtitle mb-2 text-muted right text-right">Team Leader</h6>
                       <h5>takie tam o graczu, jego KDA, liczba gier e tej drużynie , data dołączenia</h5>
                   </div>

                   <div class="card-footer text-muted">
                       <a href="#" class="card-link bottom pull-left">Profile</a>
                       <a href="#" class="card-link pull-right">Message</a>
                   </div>
               </div>
           </div>
           <div class="col">
               <div class="card" style="height:215px;">
                   @*<div class="card-body">
                    <h4 class="card-title"><b>@Model.TeamLeader.ConectedSummoners.name</b><span class="pull-right">#3</span></h6</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Team Leader || Position: ADC</h6>

                </div>*@
                   <br /><br /><br />
                   <br />
                   <div class="card-body center-block"><button class="btn btn-success">INVITE Player</button></div>

                   @*<div class="card-footer text-muted">
                    <a href="#" class="card-link bottom pull-left">Profile</a>
                    <a href="#" class="card-link pull-right">Message</a>
                </div>*@
                   <br />
                   <br /><br /><br />
               </div>
           </div>
           <div class="col">
               <div class="card" style="height:215px;">
                   @*<div class="card-body">
                    <h4 class="card-title"><b>@Model.TeamLeader.ConectedSummoners.name</b><span class="pull-right">#3</span></h6</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Team Leader || Position: ADC</h6>

                </div>*@
                   <br /><br /><br />
                   <br />
                   <div class="card-body center-block"><button class="btn btn-success">INVITE Player</button></div>

                   @*<div class="card-footer text-muted">
                    <a href="#" class="card-link bottom pull-left">Profile</a>
                    <a href="#" class="card-link pull-right">Message</a>
                </div>*@
                   <br />
                   <br /><br /><br />
               </div>
           </div>
           <div class="col">
               <div class="card" style="height:215px;">
                   @*<div class="card-body">
                    <h4 class="card-title"><b>@Model.TeamLeader.ConectedSummoners.name</b><span class="pull-right">#3</span></h6</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Team Leader || Position: ADC</h6>

                </div>*@
                   <br /><br /><br />
                   <br />
                   <div class="card-body center-block"><button class="btn btn-success">INVITE Player</button></div>

                   @*<div class="card-footer text-muted">
                    <a href="#" class="card-link bottom pull-left">Profile</a>
                    <a href="#" class="card-link pull-right">Message</a>
                </div>*@
                   <br />
                   <br /><br /><br />
               </div>
           </div>
           <div class="col">
               <div class="card" style="height:215px;">
                   @*<div class="card-body">
                    <h4 class="card-title"><b>@Model.TeamLeader.ConectedSummoners.name</b><span class="pull-right">#3</span></h6</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Team Leader || Position: ADC</h6>

                </div>*@
                   <br /><br /><br />
                   <br />
                   <div class="card-body center-block"><button class="btn btn-success">INVITE Player</button></div>

                   @*<div class="card-footer text-muted">
                    <a href="#" class="card-link bottom pull-left">Profile</a>
                    <a href="#" class="card-link pull-right">Message</a>
                </div>*@
                   <br />
                   <br /><br /><br />
               </div>
           </div>

       </div>
    </div>
<br />

<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="row">

    @if (User.Identity.Name == Model.TeamLeader.ConnectedSummonerEmail || User.IsInRole("Admin") || User.IsInRole("Moderator")) // tylko liderzy swoich druzyn moga dodac wynik meczu
    {
        <div class="col-md-6">
            <form asp-action="EditTeam">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group hidden">
                    <input asp-for="Id" class="form-control hidden" />
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Zatwierdz zmiany" class="btn btn-success" />
                </div>
            </form>
        </div>
        <div class="col-md-3 text-center">
            <form asp-controller="Team" asp-action="ChangeTeamLeader"
                  asp-route-id="@Model.Id"
                  asp-route-currentLeader="@Model.TeamLeader.Id"
                  asp-route-newLeader="newLeader"
                  method="post">
                <div class="form-group">
                    <label for="list">Wybierz nowego Lidera W.I.P</label>
                    <select name="newLeader" id="list" class="form-control text-center" style="height:35px" size="1" required>
                        <option value="">Select new Team Leader</option>
                        @{
                            foreach (var players in Model.Players)
                            {
                                <option value="@players.Id"> @players.ConectedSummoners.name </option>
                            }
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-warning"><b>[Ustąp z pozycji lidera]</b></button>
            </form>
        </div>

        <div class="col-md-3 text-center">
            <form asp-controller="Team" asp-action="DeleteTeam"
                  asp-route-id="@Model.Id"
                  asp-route-check="checkspelling"
                  method="post">
                <div class="form-group">
                    <label>Potwierdź usunięcie drużyny</label>
                    <input name="checkspelling" placeholder="Potwierdź wprowadzając nazwę drużyny." class="form-control text-center" style="height:35px" required />
                </div>
                <button type="submit" class="btn btn-danger"><b>[Delete your Team!]</b></button>
            </form>
        </div>


    }
    else
    {
        <div class="col-md-6">
        </div>

        <div class="col-md-6">
        </div>
    }
    <div class="col-md-4">
        <h3>Team Members:</h3>
        <ul class="h4">
            @foreach (var members in Model.Players)
            {
                var nickname = "";
                foreach (var item in ViewBag.SummonerInfos)
                {
                    if (members.ConnectedSummonerEmail == item.ConectedAccount)
                    {
                        if (Model.TeamLeader.ConnectedSummonerEmail == item.ConectedAccount) { nickname = item.name + " ♔ "; } else { nickname = item.name; }

                    }
                }
                <li>@nickname</li>
            }
        </ul>
    </div>

    <div class="col-md-4">

        <style>
            #chart_container {
                border: 5px solid #ddd;
                padding: 2px;
                width: 300px;
                height: 300px;
                border-radius: 25px;
            }
        </style>
        <div id="chart_container" class="center-block">
            <canvas id="bar_chart"></canvas>
        </div>
    </div>

    <div class="col-md-4">
        <h3>Points: <b>@Model.Points</b></h3>
        Recent Tournaments<br />
        <ul>
            @await Component.InvokeAsync("RecentTournamentsPlayed", new { teamid = Model.Id })
        </ul>
    </div>

    <div class="col-md-12">
        <h3>Team match History</h3>
        @{
            int? tournamentid = null;
        }
        @await Component.InvokeAsync("RecentMatches", new { tournamentId = tournamentid, teamId = Model.Id })
    </div>

</div>

<script src="~/js/Chart.min.js"></script>
<script src="~/js/chartjs-plugin-doughnutlabel.min.js"></script>
<script>
                    var win = @Model.Tournaments_Win;
                    var total = @Model.Participate_in_Tournaments;
                    var lose = total - win;
                    var procent = (win * 100) / total + "%";

                    var ctx = document.getElementById('bar_chart').getContext('2d');
                    var chart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: ["Lose", "Win", "Total"],
                            datasets: [{
                                label: "Win/Lose Compare",
                                backgroundColor: ["rgba(255, 99, 132,.5)", "rgba(54, 162, 235,.5)","rgba(192,192,192,.5)"],
                                borderColor: ["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(192, 192, 192)"],
                                data: [lose, win, total]
                            }]
                        },
                        options: {
                            aspectRatio:1,
                            responsive: true,
                            legend: {
                                display: true,
                                position: 'bottom',
                            },
                            title: {
                                display: true,
                                fontSize: 20,
                                text: 'Win Ratio'
                            },
                            animation: {
                                animateRotate: true
                            },
                            plugins: {
                                doughnutlabel: {
                                    labels: [
                                        {
                                            text: procent,
                                            font: {
                                                size: '70'
                                            }
                                        },
                                    ]
                                }
                            }
                        }
                    });
</script>
